#
# Terraform variables for the admin environment.
#

# Google admin project name.
google_admin_project_name = "example-terraform-admin"

# Google organization ID.
google_organization_id = "111111111111"

# Google billing ID.
google_billing_account_id = "111111-111111-111111"

# Name of the service account for Terraform.
google_service_account = "terraform"

# Name of the root DNS zone.
google_dns_root_zone = "example-zone"

# DNS domain.
google_dns_domain = "example.com"
