#
# Environment variables for the GCP Terraform admin environment.
#

# GCP admin project name.
GCP_ADMIN_PROJECT_NAME="example-admin"

# GCP billing ID.
GCP_ORGANIZATION_ID="111111111111"

# GCP billing ID.
GCP_BILLING_ACCOUNT_ID="111111-111111-111111"

# Name of the service account for Terraform.
TF_SERVICE_ACCOUNT="terraform"

# Path to the Terraform service account's credentials file.
TF_CREDENTIALS_FILE="/home/me/workspace/cambrian/environments/terraform-credentials.json"

# Name of the bucket which will contain the Terraform state.
TF_STATE_BUCKET_NAME="my-terraform-state"
