#
# Environment variables for the admin environment.
#

# Google admin project name.
GOOGLE_ADMIN_PROJECT_NAME="example-admin"

# Google organization ID.
GOOGLE_ORGANIZATION_ID="111111111111"

# Google billing ID.
GOOGLE_BILLING_ACCOUNT_ID="111111-111111-111111"

# Name of the service account for Terraform.
GOOGLE_SERVICE_ACCOUNT="terraform"

# Path to the Terraform service account's credentials file.
GOOGLE_CREDENTIALS_FILE="/home/me/workspace/cambrian/environments/admin/credentials.json"

# Name of the bucket which will contain the Terraform state.
GOOGLE_TERRAFORM_STATE_BUCKET_NAME="example-admin-terraform"
