#
# Terraform variables for the environment.
#

# Project name.
google_project_name = "development"

# DNS Subdomain.
google_dns_subdomain = "development"

# Region.
google_region = "australia-southeast1"

# Primary zone.
google_primary_zone = "australia-southeast1-a"

# IP CIDR to allow SSH from.
google_ssh_ip_cidr_range = ["0.0.0.0/0"]

# IP CIDR range allowed to access the Kubernetes API.
google_kube_api_ip_cidr_range = ["0.0.0.0/0"]

# Public SSH key.
google_ssh_public_key = "SNIP"

# Kubernetes node pool min count.
google_kube_node_pool_min_count = 2

# Kubernetes node pool max count.
google_kube_node_pool_max_count = 2

# Kubernetes node machine type.
google_kube_node_machine_type = "n1-standard-2"
